:root {
    --primary: #2185D5;
    --light-primary: #C7EEFF;
    --secondary: #99A0DA;
    --dark: #1D242B;
    --dark-light: #3A4750;
    --light: #FAFAFA;
}

html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    /* background: rgb(33,133,213); */
    background: linear-gradient(140deg, var(--primary) 0%, var(--light-primary) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    padding: 30px auto;
    margin: 30px auto;
}

a{
    text-decoration: none;
}

.cont-screen {
    width: 96%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}