:root {
    --primary-color: #2185D5;
    --secondary-color: #C7EEFF;
    --primary: #2185D5;
    --light-primary: #C7EEFF;
    --secondary: #99A0DA;
    --dark: #1D242B;
    --dark-light: #3A4750;
    --light: #FAFAFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 90%;
    background: #FFFFFF;
    border-radius: 15px;
    padding: 1rem;
}

.container .management {
    background: var(--secondary-color);
    width: 90%;
    height: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.management-header {
    width: 100%;
    height: 30%;
}

.management-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    gap: 15px;
}

.result-item {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 35px;
    padding: 10px;
}

.result-item .result-photo {
    width: 10%;
    display: flex;
}

.result-item .result-name {
    width: 78%;
    color: #FFFFFF;
}

.result-item .action-buttons {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-buttons .button {
    display: flex;
    justify-content: flex-end;
}

.action-buttons .button button {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}

.button {
    margin: 0 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
}

.button form label {
    /* display: inline-block; */
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    font-size: 20px;
}

.button form lable:hover {
    background-color: var(--dark-light);
}

.button form input {
    display: none;
}

.button form button {
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
    text-decoration: none;
}